.singlevideo-container{
    display: grid;
    justify-items: center;
    height:fit-content;

}
.videoplayer-container{
    aspect-ratio: 16/9;
    width:80%;
    min-width:12.5rem;
}
.videoplayer{
    width:100%;
}
.description-container{
    width:80%;
}
.heading{
    padding:1rem 0;
}
.description{
    margin:1rem 0;
    line-height: 1.5rem;
}
.secondary-action-btns{
    display: flex;
    gap:8px;
}
.action-btn{
    cursor:pointer;
}
.like{
    color:var(--primary)
}