.videolisting-container{
    /* display:flex; */
   /* align-items: flex-start; */
   

}
.videolist{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(22rem,1fr));
    justify-items: center;
}
.categories-list{
    width:100%;
    margin:.8rem 0;
}
.category-chip{
    font-size:1.1rem;
    /* border:1px solid grey; */
    border: none;
    border-radius: 8px;
    margin:0 .8rem;
    padding:4px 8px;
}
.active{
    background-color: var(--primary);
}