:root {
  --primary: #f59e0b;
  --primary-moderate: #d97706;
  --primary-light: #fde68a;
  --secondary: #10b981;
  --secondary-dark: #00947e;
  --secondary-moderate: #34d399;
  --secondary-light: #a5b4fc;
  --font-color: #18181b;
  --font-color-invert: #ffff;
  --gray: #6b7280;
  --gray-dark: #374151;
  --gray-moderate: #9ca3af;
  --gray-light: #d1d5db;
}
