@import url(./styles/variables.css);
.App{
  min-height:100vh;
}
.fas {
  color: var(--primary);
}
.container {
  height: 100%;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 15% 85%;
}
:visited{
  color: var(--font-color);
}
@media (max-width:1024px){
  .sidebar{
    display: none;
  }
  .container{
   grid-template-columns: 1fr;
  }
}